* {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 24, 32);
    height: 100dvh;
}

.box {
    width: 87%;
  min-height: 300px;
  background-color: azure;
  padding: 20px;
  grid-area: beats;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 50px;
}

.circle-small {
    display: grid;
    background-color: #71b5cc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    align-self: center;
    justify-self: center;

}

.circle {
    display: grid;
    grid-template-areas: 
    'void1 open void2'
    'previous void3 next'
    'void4 playpause void5';
  width: 70%;
  background-color: azure;
  border-radius: 50%;
  box-shadow: 0px 0px 60px 15px #f1faff;
}

#void1 {
    grid-area: void1;
}

#void2 {
    grid-area: void2;
}

#void3 {
    grid-area: void3;
}

#void4 {
    grid-area: void4;
}

#void5 {
    grid-area: void5;
}


/* body {
    display:grid;
    grid-template-areas: 
    'title title open'
    'beats beats beats'
    'scrub scrub scrub'
    'previous playpause next'
    'volume volume tumo';
    grid-template-rows: 64px auto 32px auto 32px;
    grid-template-columns: 33% auto 33%;
    background-color: #71b5cc;
    width: 550px;
    height: 800px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 60px 15px #71b5cc;
} */

body {
    display: flex;
    flex-direction: column;
    background-color: #71b5cc;
    flex: 1;
    height: 100%;
    max-height: 900px;
    max-width: 550px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 60px 15px #71b5cc;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button:active {
    scale: 0.9;
}

#title {
    color: rgb(108, 187, 216);
    font-size: xx-large;
    grid-area: title;
}

#beats {
    grid-area: beats;
    display: flex;
    justify-content: center;
    align-items: center;
}

#open-input {
    grid-area: open;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-input {
    position: absolute;
    opacity: 0;
    inset: 0;
}

#scrub-input {
    display: flex;
    grid-area: scrub;
    position: relative;
    background-color: rgb(189, 217, 227);
    height: 15px;
    border-radius: 50px;
}

#previous-button {
    grid-area: previous;
}

#playpause-button {
    grid-area: playpause;
    align-self: center;
    justify-self: center;
}

#icon-play {

}

#icon-pause {
    display: none;
}

#next-button {
    grid-area: next;
}

#volume-input {
    display: flex;
    /* grid-area: volume; */
    position: relative;
}

#tumo-logo {
    grid-area: tumo;
}

.range-bar {
    position: absolute;
    inset: 0;
    background-color: rgb(77, 163, 195);
    border-radius: 50px;
    pointer-events: none;
    transform: scaleX(0.5);
    transform-origin: left;
}

input[type="range"] {
    flex: 1;
    opacity: 0;
    cursor: pointer;
}